body {
  background-color: #669fb8;
  text-align: center;
}

p {
  color: white;
  justify-content: center;
  line-height: 1.5;
}

p1 {
  justify-content: center;
  color: white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  color: white;
}
td.head {
  text-align: center;
  font-size: 18px;
  color: lightpink;
}
label {
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
ul:hover li a {
  transform: scale(1);
  opacity: 0.2;
  filter: blur(5px);
}

ul li a:hover {
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}

h1 {
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 40px;
  text-align: center;
  float: top;
  color: whitesmoke;
}

table,
th,
td {
  border: 1px solid green;
  text-align: center;
}
