body {
  background-color: light blue;
  text-align: center;
}


p {
  color: white;
  justify-content: center;
  line-height: 1.5;
}

p1 {
  justify-content: center;
  color: white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  color: white;
}
td.head {
  text-align: center;
  font-size: 18px;
  color: lightpink;
}
label {
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}


h1 {
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 40px;
  text-align: center;
  float: top;
  color: whitesmoke;
}

table,
th,
td {
  text-align: center;
}
